<link rel='stylesheet' href='/stylesheets/styleEvents.css' >

<div class="logoheader">
<img class="logoname" src="/images/logoname.png">
</div>
<div class="menu">
<ul class="menulist">
<li><a href="/profile/{{currentUser._id}}" class="button-menu">My Profile</a></li>
<li><a href="/"class="button-menu">Logout</a></li>
</ul>
</div>
<h2>
{{#if info}}
{{info}}{{ currentUser.username }}
{{/if}}
</h2>


{{!-- <a href="/profile/{{currentUser._id}}">My Profile: /profile/{{currentUser._id}}</a> --}}

</div>


<div class="eventimg-list">
<ul class="eventslist">
  {{#each events }}
  <li>
   <h1 class="eventnamelist"><a href="/events/{{this._id}}" class="clasename">{{ this.name }}<img src=" {{!-- {{eventData.image}}--}}/images/eventPaseoPlaya.jpg" class="eventsimg"> </a></h1>
  </li>
  {{/each}}
</ul>
</div>

<a href="/events/add"class="buttonadd">+</a>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>
