<link rel='stylesheet' href='/stylesheets/listEvents.css'>

<div class="container-menu">
  <div class="container-logo">
    <img class="logoheader" src="/images/minilogoname.png">
  </div>
  <div class="container-icons-menu">
    <ul >
      <li>
        <a href="/profile/{{currentUser._id}}" class="button-menu">
          <img class="iconsmenu-myprofile" src="/images/profileicon-removebg-preview.png" alt="myprofile">
        </a>
      </li>
      <li>
        <a href="/"class="button-menu">
          <img class="iconsmenu-logout" src="/images/logout-removebg-preview.png" alt="logout">
        </a>
      </li>
    </ul>
  </div>
  
</div>
<div class="container-buttons-event-list">
  
</div>
<h2 class="flash-welcome">
{{#if info}}
{{info}}{{ currentUser.username }}
{{/if}}
</h2>
</div>



<div class="container-event-list">
  <ul>
  {{#each events }}
    <li>
      <div class="eventnamelist" style="margin: 40px auto; box-shadow: 1px 1px 5px #00000029;">
        <a href="/events/{{this._id}}" class="clasename">
          <img src="http://placeimg.com/640/350/nature?id={{this._id}}" class="eventsimg"/>
          <div class="details-event">
            <span class="nameEvent">{{ this.name }}</span>
            <a href="/events/{{this._id}}" class="btn-seeEvent">See more</a>
          </div>
        </a>
      </div>
    </li>
  {{/each}}
  </ul>
</div>

<a href="/events/add"class="buttonadd">
  <span>+</span>
</a>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>
