<h1>List all events</h1>
<p>welcome {{ currentUser.username }}</p>
{{#if info}}
{{info}}
{{/if}}
<ul>
  {{#each events }}
  <li>
    <a href="/events/{{this._id}}/update">{{ this.name }}</a>
    <form action="/events/{{this._id}}/delete" method="post">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>

<a href="/logout">logout</a>