<link rel='stylesheet' href='/stylesheets/styleEvents.css' >
<img class="logoname" src="/images/wallyname.png">


<h2>
{{#if info}}
{{info}}{{ currentUser.username }}
{{/if}}
</h2>

{{!-- <a href="/profile/{{currentUser._id}}">My Profile: /profile/{{currentUser._id}}</a> --}}
<nav >
<a href="/profile/{{currentUser._id}}" class="button">My Profile</a>
</nav>

<ul>
  {{#each events }}
  <li>
    <a href="/events/{{this._id}}" >{{ this.name }}<img src="{{eventData.image}}" class="eventsimg">
  </li>
  {{/each}}
</ul>


<a href="/events/add"class="buttonadd">+</a>
