<link rel='stylesheet' href='/stylesheets/styleEvents.css' >
<img class="logoname" src="/images/wallyname.png">

<ul id="menu">
<li><a href="/profile/{{currentUser._id}}" class="button-menu">My Profile</a></li>
<li><a href="/"class="button-menu">Logout</a></li>
</ul>

<h2>
{{#if info}}
{{info}}{{ currentUser.username }}
{{/if}}
</h2>


{{!-- <a href="/profile/{{currentUser._id}}">My Profile: /profile/{{currentUser._id}}</a> --}}

</div>


<div class="eventimg-list">
<ul>
  {{#each events }}
  <li>
   <a href="/events/{{this._id}}" >{{ this.name }}<img src=" {{!-- {{eventData.image}}--}}/images/eventPaseoPlaya.jpg" class="eventsimg"> 
  </li>
  {{/each}}
</ul>
</div>

<a href="/events/add"class="buttonadd">+</a>

<footer> © Copyright 2020 Gisela García and Raquel Muniesa, Barcelona </footer>
