<div class="container-individual-Event">
    
    <h1>{{eventData.name}}</h1>

    <div class="image-event">        
        <img src="{{eventData.image}}"class="eventsimg">
    </div>
    <div class="data-event">
        <h3>Event info:
            <br>
            {{eventData.description}}</h3>
        <h3>Event hour:
            <br>
            {{eventData.hour}}</h3>
        <h3>Event location:
            <br>{{eventData.location}}</h3>
        <h3>Event mood:
            <br>{{eventData.mood}}</h3>
    </div>


    {{#if isJoined}}
        <form action="/events/{{eventData._id}}/unjoin" method="post">
            <button type="submit">Unjoin</button>
        </form>
        {{else}}
            <form action="/events/{{eventData._id}}/join" method="post">
                <button type="submit" class="nextpage" >Join</button>
            </form>
    {{/if}}

        {{!-- FOREACH DEL ARRAY JOIN --}}

        <ul class= "join_list">
            {{#each eventData.joined}}
            <li> <a href="/profile/{{this._id}}">{{this.username}}</a></li>
            {{/each}}
        </ul>


        <a href="/events"class="button">Go back</a>


        {{#if isOwner}}
                <a href="/events/{{eventData._id}}/update"class="button">Update</a>
            <form action="/events/{{eventData._id}}/delete" method="post">
                <button type="submit" class="nextpage">delete</button>
            </form>
        {{/if}}
</div>