<form action="/events/{{event._id}}" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="event-name" placeholder="name" value="{{event.name}}">
  <label for="description">description</label>
  <input type="text" name="description" id="event-description" value="{{event.description}}">
  <label for="hour">hour</label>
  <input type="text" name="hour" id="event-hour" value="{{event.hour}}">
  <label for="location">location</label>
  <input type="text" name="location" id="event-location" value="{{event.location}}">
  <button type="submit">submit</button>
</form>
