<link rel='stylesheet' href='/stylesheets/styleProfile.css' >
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">

<a href="/profile/{{profileData._id}}"class="back-button">
    <img class="image-back" src="/images/flecha-removebg-preview.png" alt="back">
</a>
<form action="/profile/{{profileData._id}}" method="post">
<div class="container-individual-profile">
 
 </div>
   <div class="container-icons" >  
    <br>
     <h1 class="user-name"><input name="username"  placeholder="Name" value="{{profileData.username}}"></h1>
     <div class="container-icon">
                <img class="age-icon" src="/images/ageicon.png">
                <h3 class="profile-style">Age:  <input type="text" name="age" id="user-age" placeholder="Age" value="{{profileData.age}}"></h3>
            </div> 
            
            <div class="container-icon">
                <img class="pinmap-icon" src="/images/pinmapicono-removebg-preview.png">
                <h3 class="profile-style">City: <input type="text" name="city" id="user-city" placeholder="City" value="{{profileData.city}}"></h3>
            </div>
              
    <div class="container-icon">
     <img class="mood-icon" src="/images/moodicon-removebg-preview.png">
        <h3 class="profile-style">Mood:  <select id="mood" name="mood">
    <option value="Chill">😌&nbsp;&nbsp;&nbsp;&nbsp;Chill mood</option>
    <option value="Medium"> 😬&nbsp;Medium mood</option>
    <option value="Hard">🤪&nbsp;&nbsp;&nbsp;&nbsp;Hard mood</option>
  </select></h3> 
  </div></h3>
   
<textarea name="description" rows="10" cols="50" placeholder="About me" value="{{profileData.description}}">{{profileData.description}}</textarea>

   <br>
   <br>
   <br>
   <br>
   <br>
  <button type="submit"class="buttoneditgo">Submit</button>
 <br>

 </div>
   
</form>

 





