<h1 class="profile-title">My profile</h1>
<div class="image-user">
        <img src="{{currentUser.image}}" alt="image-event">
    </div>
<div class="profile-content">
    <div class="profile-information">
        <h3>I'm {{currentUser.username}}</h3>
        <h3>Age: <br>{{currentUser.age}}</h3>
        <h3>About me: <br>{{currentUser.description}}</h3>
        <h3>City: <br>{{currentUser.city}}</h3>
        <h3>Mood: <br>{{currentUser.mood}}</h3>

    </div>
{{#if isOwner}}
<nav >
<div class="profile-modifications">
<a href="/profile/{{currentUser._id}}/edit"class="button">Edit</a>
</div>
  <form action="/profile/{{currentUser._id}}/delete" method="post">
      <button class="nextpage" type="submit">Delete account</button>
    </form>


{{/if}}


<ul class="event-list-profile">
  {{#each myEvents }}
  <li>
    <a href="/events/{{this._id}}">{{ this.name }}</a>
  </li>
  {{/each}}
</ul>

<a href="/logout"class="button">>logout</a>


<a href="/events" class="button">Back</a>
</nav>

