<h1 class="profile-title">My profile</h1>
<div class="image-user">
        <img src="{{currentUser.image}}" alt="image-event">
    </div>
<div class="profile-content">
    <div class="profile-information">
        <h2>{{currentUser.username}}</h2>
        <h2>{{currentUser.age}}</h2>
        <h2>{{currentUser.description}}</h2>
        <h2>{{currentUser.city}}</h2>
        <h2>{{currentUser.mood}}</h2>

    </div>
{{#if isOwner}}
<div class="profile-modifications">
<a href="/profile/{{currentUser._id}}/edit">Edit</a>
</div>
  <form action="/profile/{{currentUser._id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>

{{/if}}
<a href="/logout">logout</a>

<a href="/events">Back</a>


