<link rel='stylesheet' href='/stylesheets/styleProfile.css' >
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
   
  <a href="/events"class="back-button">
    <img class="image-back" src="/images/flecha-removebg-preview.png" alt="back">
  </a>

<div class="container-individual-profile">
 
 </div>
   <div class="container-icons">
     <div class="name-profile">
       <br>
        <h1 class="user-name">{{currentUser.username}}</h1>
     </div>  
     <div class="container-icon">
                <img class="age-icon" src="/images/ageicon.png">
                <h3 class="profile-style">Age: {{currentUser.age}}</h3>
            </div> 
            
            <div class="container-icon">
                <img class="pinmap-icon" src="/images/pinmapicono-removebg-preview.png">
                <h3 class="profile-style">City: {{currentUser.city}}</h3>
            </div>
           
   <div class="container-icon">
     <img class="mood-icon" src="/images/moodicon-removebg-preview.png">
        <h3 class="profile-style">Mood: {{currentUser.mood}}</h3>
 </div>
           
<p class="profile-style-description">{{currentUser.description}}</p>


  <p class="event-list">Joined events:</p>
    <ul class="event-list-profile">
  {{#each myEvents }}
  <li>
    <a href="/events/{{this._id}}" class="name-listevent">{{ this.name }}</a>
  </li>
  {{/each}}
</ul>

<br>

{{#if isOwner}}
<a href="/profile/{{currentUser._id}}/edit"class="buttonedit">Edit</a>

<br>
<form action="/profile/{{currentUser._id}}/delete" onclick="return confirm('Are you sure you want to delete your account?');" method="post">
  <button class="buttondelacc" type="submit">Delete</button>
</form> 



{{/if}}

<br>

{{!-- <script>
function confirmar()
{
	if(confirm('¿Are you sure?'))
		return true;
	else
		return false;
}
</script>
<a href="/logout" class="button" onclick="return confirmar()">Logout</a> --}}





